* {
	margin: 0;
	padding: 0;
}

.img-logo{
	height: 50px;
	width: 150px;
	display: block;
	background: url('imagens/novogooo1.png') no-repeat;
	background-size: contain;
	color:transparent; /*-- Deixar o texto transparente, sempre importante manter o texto
	e a imagem, caso a imaagem na apareca, tem o texto, leitores de texto reconhecem texto -- */


}



img{
	padding: 5px;
}
body{
	background: url('../img/capa8.png'), /* se nao quiser que repita a imagem coloque no-repeat */
				url(../ruido.png), /* se nao quiser que repita a imagem coloque no-repeat */
				linear-gradient(50deg,#f68f0d,#f6b70d);
				background-attachment: fixed;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

li{
	padding: 40px;
	display: inline;
}

p{
	padding-top: 10px;
}

a{
	text-decoration: none;
	padding: 10px 40px;
}

/******* LINKS ******/
/* não visitado */
a:link{
	color: white; 
}

/* visitado */
a:visited{
	color: white;
}

/* hover */
a:hover{
	color: #9bf0e1;
}

/* ativado */
a:active{
	color: white;
}

/* CLASSES */
.alinhamento-bordas {
    margin: 30px 30px;
    padding-bottom: 30px;
}

.info {
    text-align: center;
    margin-top: 55px;
}

.borda {
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #99998c;
}

.borda-cima {
	padding-top: 15px;
	padding-bottom: 10px;
	border-top: 1px solid #99998c;
}

.alinhamento{
	text-align: left;
	padding-top: 10px;
}

.box-imagem{
	width: 70px;
	height: 70px;
	padding: 10px;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	display: inline;
}

.area{
	width: 900px;
	margin: 0px auto;
	background: rgba(0,0,0,0.5);
	border-radius: 20px;
}

.opcoes{
	display: block;
	padding: 20px;
}

/* IDs */
#barraprincipal{
	background: rgba(0,0,0,0.5);
	/*height: 45px;*/
	position: fixed;
	width: 100%;
	top: 0;
	padding: 5px 6px;
}

#logo{
	float: left;
	padding: 5px;
}

#menu{
	float: right;
	padding: 10px;
}

#coment{
	width: 900px;
	margin: 0px auto;
	background: rgba(0,0,0,0.5);
	border-radius: 20px;
	padding-top: 1px;
}

#box{
	width: 150px;
	height: 150px;
	padding: 10px;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
}

