.entrar_bar{
	text-decoration: none;
	color: black;
}


.entrar_usu{
	text-decoration: none;
	color: black;
}

.sair_x{
	text-decoration: none;
	color: black;
}

/* pagina entrar */
.body_entrar {
			
			font-family: Arial;
			background: url('imagens/capa9.png') no-repeat, /* se nao quiser que repita a imagem coloque no-repeat */
				 /* se nao quiser que repita a imagem coloque no-repeat */
				linear-gradient(50deg,#f68f0d,#f6b70d);
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
		
		.box {
			width: 330px;
			height: auto;
			float: left;
		}
		
		div#a-b-c {
			padding:10px;
			width: 750px;
			height: auto;
			margin: auto;
		}
		
		div#a-b-c h2 {
		text-align: left;
		display: inline;

		}
		
		div#a-b-c p {
		text-align: left;
		display: block;

		}
		.left {
			margin-left: 70px;
		}
.sair{
	margin-top: 10px;
	text-align: right;
	margin-right: 400px;
	
}
/* pagina entrar  acaba aqui*/
/* hr para criar uma linha */
  hr{
  border-color:#000;
  box-sizing:border-box;
  width:100%;  
}


.testando{
	margin: 0px:
	padding: 0px;
	list-style: none;
}

.test{
	
	width: 200px;
	height: 40px;
	
	opacity: .8;
	line-height: 40px;
	text-align: center;


}

.aa{
	text-decoration: none;
	color: white;
	display: block;

}

/*==========================Layout================= */
 html,body, .capa{
	height: 100%;
	overflow: auto;
}



.img-logo{
	height: 50px;
	width: 150px;
	display: block;
	background: url('imagens/novogooo1.png') no-repeat;
	background-size: contain;
	color:transparent; /*-- Deixar o texto transparente, sempre importante manter o texto
	e a imagem, caso a imaagem na apareca, tem o texto, leitores de texto reconhecem texto -- */


}


nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border:none;
}

.navbar-brand{
	
	padding: 5px 6px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover{
	color: #9bf0e1;
	background: none;
}




