.thumbnail{
	padding-left: 100px;
	margin-left: 325px;
	background-color: rgb(255,0,0);
}

hr{
	width: 60%;
	color: black;
}

.aa{
	text-decoration: none;
	color: white;
	display: block;
	padding: 7px 20px;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}

.aaa{
	text-decoration: none;
	color: white;
	display: block;
	padding: 7px 20px;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}

.titulos1{
	text-decoration: none;
	color: black;
	display: block;
	padding: 3px 10px;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}

#ul-principal{
	background-color: blue;
	width: 90%;
	margin: auto;
	list-style: none;
}

#ul-secundario{
	background-color: blue;
	width: 90%;
	margin: auto;
	list-style: none;
}

.li-p{
	line-height: 50px;
	float: right;
	list-style: none;

}

.li-s{
	
	list-style: none;
}

ul li ul li{

	background: rgba(0, 0, 0, 0.6);
	text-decoration: none;
	list-style: none;
}

.aa:hover{
	color: #9bf0e1;
	background: none;
}
.aaa:hover{
	color: #9bf0e1;
	background: none;

}

.img-logo:hover{
	background-color: rgba(255,255,255,.3)
}

.ul-secundario{
	display: none;
}


/* menu vertical */

*{
	padding: 0px;
	margin: 0px;
}


.label_test{
	padding: 15px;
	position: absolute;
	z-index: 1;
	
}

.link{
	text-decoration: none;
	color: white;
	display: block;
	padding: 20px 5px;
	padding-left: 30px;
	color: white; 


}
.linkk{
	text-decoration: none;
	color: white;
	display: block;
	padding: 50px 5px;
	color: white; 
	padding-left: 30px;

}


.body_test{
	font-family: arial;
	background: url('imagens/capa3.png');
}

.ul_class{
	list-style: none;
	position: absolute;
	top: 70px;
	width: 100%;
	
}

input[type="checkbox"]:checked ~ .nav_test{
	transform: translateX(349px);
}


.img-logo{
	height: 50px;
	width: 150px;
	display: block;
	background: url('imagens/novogooo1.png') no-repeat;
	background-size: contain;
	color:transparent; /*-- Deixar o texto transparente, sempre importante manter o texto
	e a imagem, caso a imaagem na apareca, tem o texto, leitores de texto reconhecem texto -- */
}

input[type="checkbox"]{
	display: none;
}

.nav_test{
	background: rgba(0, 0, 0, 0.6);
	border:none;
	width: 350px;
	height: 100%;
	left: -350px;
	position: absolute;
	transition: all .5s;
}
.nav_testt{
	background: rgba(0, 0, 0, 0.6);
	border:none;
	width: 350px;
	height: 100%;
	left: -350px;
	position: absolute;
	padding: 15px 0px;
}

.nav-testt{
	background: rgba(0, 0, 0, 0.6);
	border:none;
	height: 70px; 
	font-family: Arial, Helvetica, sans-serif;
}

.link:hover{
	color: #9bf0e1;
	background: none;
}
.linkk:hover{
	color: #9bf0e1;
	background: none;
}


/* fim menu vertical */

#ab{
	border-radius: 50%;
	width: 150px; 
	height: 150px;

}


table thead td
{

background-color: #333;
color: #fff;



}




table tbody td
{

background-color: white;



}