* {
	margin: 0;
	padding: 0;
}

html, body{
	background: url('img/capa8.png'), /* se nao quiser que repita a imagem coloque no-repeat */
				url('ruido.png'), /* se nao quiser que repita a imagem coloque no-repeat */
				linear-gradient(50deg,#f68f0d,#f6b70d);
				background-attachment: fixed;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	overflow-x: hidden;
}
 
/* =============================================== */
             /* ------- MENU -------*/

nav.navbar-transparente {
	padding: 5px 0px;
	border: none;
	background: black;
}

.img-logo{
	height: 290px;
	width: 220px;
	background: url('img/novogooo1.png') no-repeat;
	background-size: contain;
	color: transparent;
	position: relative;
}

.navbar-brand{
	padding: 5px 15px;
	margin: auto;
}

.titulos1{
	text-decoration: none;
	display: block;
	padding: 3px 10px;
	list-style: none;
}

img{
	padding: 5px;
}

li{
	padding: 40px;
	display: inline;
}

p{
	padding-top: 10px;
}

a{
	text-decoration: none;
	padding: 10px 40px;
	color: black;
	display: block;
}

/******* LINKS ******/
/* não visitado */
a:link{
	color: white; 
}

/* visitado */
a:visited{
	color: white;
}

/* hover */
a:hover{
	color: #9bf0e1;
}

/* ativado */
a:active{
	color: white;
}

/* CLASSES */
.borda-cima {
	padding-top: 20px;
	padding-bottom: 10px;
	border-top: 1px solid #99998c;
}

.alinhamento{
	text-align: left;
	padding-top: 10px;
}

.alinhamento2{
	text-align: center;
	padding: 8px;
	margin: 10px;
}

.area{
	margin: auto;
	background: rgba(0,0,0,0.9);
	border-radius: 20px;
	margin-top: 10px;
	color: white;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.area-dados{
	margin-top: 70px;
}

.opcoes{
	display: block;
	padding: 20px;
	text-align: center;
}

/* IDs */
#box{
	width: 250px;
	height: 250px;
	padding: 10px;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	margin: auto;
	display: block;
}

.box-flex{
	display: flex;
	flex-direction: row;
}

.box-img{
	width: 400px;
	height: 300px;
}

.img-logo{
	height: 20%;
	height: 30%;
}

.descricao{
	text-align: justify;
	padding: 10px;
}

body ul {
	color: white;
}

h4{
	color: black;
	text-align: center;
}

.adicionar{
	width: 40px; 
	height: 40px; 
	padding-top: 5px;
}

.float-right{
	float: right;
	padding: 5px;
	margin-top: 5px;
}

.float-left{
	float: left;
	display: inline-block;
	padding: 5px;
	margin-top: 5px;
}

.float-middle{
	height: 220px;
	width: 400px;
	left: 0;
	top: 50%;
	text-align: center;
	font-size: 50px;
}
